
body {
	padding-top: 100px;
}

/* dropdown */

.dropdown-toggle {
	width: 284px;
	position: relative;
}

.dropdown-toggle .caret {
	position: absolute;
	right: 10px;
	top: 46%;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
